/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/products/Products.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.products {
    background-color: rgb(214, 164, 164);
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding-top: 4rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.products .search {
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.products .search input {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
    width: 20rem;
    border: none;
}
.products .search button {
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 0.2rem;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
}
.not-found {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}
.not-found p {
    font-size: 42px;
    color: black;
    font-weight: 700;
    
}

.product-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product-card {
    width: 17rem;
    height: 22rem;
    padding: 0.4rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-card .image {
    width: auto;
    height: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.product-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}
.info h2 {
    color: rgb(255, 0, 0);
}
.info p {
    font-weight: 700;
}
.info button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 0.3rem 0.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}
.info button:hover {
    transform: scale(1.05);
}
.sorting {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.sorting p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
}
.sorting select {
    border: 2px solid white;
    outline: none;
    border-radius: 3px;
    color: rgb(87, 85, 85);
    font-weight: 600;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Components/loading/Loading.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.loading {
    width: 100vw;
    min-height: 80vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spin {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 10px dotted white;
    animation: spin 3s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.loading p {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
}
