 .card-wrapper {
    background-color: rgba(0, 0, 0, 0.925);
    width:100% ;
    min-height: 61.3vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .tags {
    display: flex;
    gap: 1rem;
 }
 .card-inside-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
 }
 .card-inside-wrapper h2 {
    font-family: 'Lato', sans-serif;
    color: gold;
    font-size: 36px;
    font-weight: 800;
 }
 .card-inside-wrapper p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
 }
 .card-inside-wrapper .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
 }
 .card-inside-wrapper .flex .golden {
    color: gold;
    font-weight: 600;
 }
 .back-to-cards {
    padding: 0.5rem 0.6rem;
    color: #fff;
    background-color: blue;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in;
 }
 .back-to-cards:hover {
    transform: scale(1.05);
 }