.header {
    max-height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to right, black, rgb(97, 96, 96), black);
    color: #fff;
    z-index: 99;
}
header .image img {
    height: 55px;
}
header .image h2 {
    font-size: 19px;
}
.image {
    display: flex;
    align-items: flex-end;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    gap: 0.5rem;
    cursor: pointer;
}