.footer {
   width:100% ;
   background:linear-gradient(to right, black, rgb(34, 34, 34), black);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 99;
}
.footer-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.icons {
    margin-top: 2rem;
    display: flex;
    gap: 1.8rem;
}
.footer .icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(27, 110, 27, 0.582);
    border-radius: 50%;
    border: 1px solid rgba(23, 77, 23, 0.582);
    cursor: pointer;
}
.footer  .icons .icon i {
    font-size: 20px;
    font-weight: 500;
    color: white;
    z-index: 999;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.nav ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    transition: transform 0.3s;
    font-family: "Lato", sans-serif;
}
.nav ul li a:hover {
    transform: scale(1.05);
}
.divider {
    color: #fff;
    font-weight: 700;
}

.footer-bottom {
    width: 100vw;
    background-color:rgba(27, 110, 27, 0.582);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 12px;
    color: #fff;
}
.footer-bottom p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}
.footer-bottom p a {
    color: #fff;
    text-decoration: underline;
}