.authentication {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.login-button {
    color: #fff;
    background: transparent;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, color 0.1s;
}

.login-button:hover {
    color: blue;
    transform: scale(1.1);
}

.signup-button {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #fff;
    color: #000000;
    border: 0;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    transition: transform 0.3s;
}

.signup-button:hover {
    transform: scale(1.1);
}
