
.profile {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    padding: 100px;
    font-family: "Lato", sans-serif;
}

.whole-card {
    border-radius: 20px;
    position: relative; 
    height: 300px; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.norton {
    position: absolute;
    top: -50px;
    left: 50%; 
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.norton img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    border: 3px solid white; 
}

.information {
    width: 400px;
    margin-top: 30px; 
    padding: 20px; 
    text-align: center; 
}

.icons {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.inner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}
form label {
    display: flex;
    justify-content: flex-start;
}
form input {
    margin-bottom: 0.8rem;
    padding: 5px;
    border: none;
    background-color: beige;
}